/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Source Sans Pro'; }
// body { 
//     font-family: Roboto, Arial, sans-serif;
//     margin: 0;
//   }
  
  .basic-container {
    padding: 50px; 
  
    a {
      text-decoration: none;
      color: yellow;
    } 
  }
  
  .version-info {
    color: black;
    font-size: 8pt;
    position: fixed;
    bottom: 0;
    right: 0;
  }
  
  /* here's what you're looking for B-) */
  mat-nav-list.list-horizontal {
    padding: 0;
    .mat-list-item {
      display: inline-block;
      height: auto;
      width: auto;
    }
  }